html,
body,
* {
  background-color: deepskyblue;
  color: white;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-size: 62.5%; /* Normally 100%=16px 62.5%=10px */
  text-align: center;
  font-family: 'Exo 2', sans-serif;
}
.title {
  font-size: 4rem; /*rem uses root font size opf page. */
}
.Image-Card {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.Dentist {
  box-shadow: 1rem 1rem 1rem white;
}
.Dictator {
  box-shadow: 1rem 1rem 1rem #a80a07;
}
.Gus {
  box-shadow: 1rem 1rem 1rem #183547;
}
.Fast-Food {
  box-shadow: 1rem 1rem 1rem #35676f;
}
.Star-Wars {
  box-shadow: 1rem 1rem 1rem #b2c2cf;
}
.Jorge {
  box-shadow: 1rem 1rem 1rem #294143;
}
.Walt {
  box-shadow: 1rem 1rem 1rem #9f8165;
}
.The-Boy {
  box-shadow: 1rem 1rem 1rem #f5f9fa;
}
.Real {
  box-shadow: 1rem 1rem 1rem #090c11;
}
